#weather:x y width height
weather_xywh:200 100 128 256 
# url file_name  天气信息
weather_url:http://qq.ip138.com/weather/shandong/YuCheng.wml
#icon:x y w h icon_file cmd tag 桌面图标
#icon:600 520 64 64 chromium-browser.png  "chromium-browser" "chromium-browser"
#wallpapers:壁纸文件

#时间间隔（分钟）
time_for_change:20
# 居中(0/1) 
centered:0
#缩放(0/1) 
scaled:1
#充满(0/1/2)
filled:0

wallpapers:/usr/share/wallpapers/Aghi/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Air/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Ariya/contents/images/1280x1024.png
wallpapers:/usr/share/wallpapers/Atra_Dot/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Autumn/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Azul/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Beach_Reflecting_Clouds/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Blue_Curl/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Blue_Wood/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Castilla_Sky/contents/images/1600x1200.jpg
wallpapers:/usr/share/wallpapers/Chess/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/City_at_Night/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Code_Poets_Dream/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Colorado_Farm/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Curls_on_Green/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Damselfly/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/EOS/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Emotion/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Ethais/contents/images/1280x1024.png
wallpapers:/usr/share/wallpapers/Evening/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Field/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Fields_of_Peace/contents/images/1280x1024.JPG
wallpapers:/usr/share/wallpapers/Finally_Summer_in_Germany/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Flower_drops/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Flying_Field/contents/images/1600x1200.jpg
wallpapers:/usr/share/wallpapers/Fog_on_the_West_Lake/contents/images/1600x1200.jpg
wallpapers:/usr/share/wallpapers/Fresh_Morning/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Golden_Ripples/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Grass/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Green_Concentration/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Hanami/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/HighTide/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Holiday_Cactus/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Horos/contents/images/1280x1024.png
wallpapers:/usr/share/wallpapers/Icy_Tree/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/JK_Bridge_at_Night/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Korea/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Ladybuggin/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Leafs_Labyrinth/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Media_Life/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Midnight_in_Karelia/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Plasmalicious/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Quadros/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Red_Leaf/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Skeeter_Hawk/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Spring_Sunray/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Storm/contents/images/1600x1200.jpg
wallpapers:/usr/share/wallpapers/The_Rings_of_Saturn/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/There_is_Rain_on_the_Table/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Vector_Sunset/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Winter_Track/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/Yellow_Flowers/contents/images/1280x1024.jpg
wallpapers:/usr/share/wallpapers/albatross-2009-10.png
wallpapers:/usr/share/wallpapers/bluebird-2010-08-1920x1200-xubuntu.png
wallpapers:/usr/share/wallpapers/bluebird-2010-08-1920x1440-notext.png
wallpapers:/usr/share/wallpapers/bluebird-2010-08-1920x1440-xubuntu.png
wallpapers:/usr/share/wallpapers/greybird-wall-1920x1200.png
wallpapers:/usr/share/wallpapers/kde-default.png
wallpapers:/usr/share/backgrounds/Aeg_by_Tauno_Erik.jpg
wallpapers:/usr/share/backgrounds/Arboreal_ballet_by_Bob_Farrell.jpg
wallpapers:/usr/share/backgrounds/Aubergine_Sea_by_Wyatt_Kirby.jpg
wallpapers:/usr/share/backgrounds/Bay.jpg
wallpapers:/usr/share/backgrounds/Berries_by_Orb9220.jpg
wallpapers:/usr/share/backgrounds/Bird_by_Magnus.jpg
wallpapers:/usr/share/backgrounds/Blue_box_number_2_by_orb9220.jpg
wallpapers:/usr/share/backgrounds/Blue_by_ElSlunko.jpg
wallpapers:/usr/share/backgrounds/BosqueTK.jpg
wallpapers:/usr/share/backgrounds/Bubbles_by_JanneM.jpg
wallpapers:/usr/share/backgrounds/Buck_off!_by_SirPecanGum.jpg
wallpapers:/usr/share/backgrounds/BusquedaNocturna.jpg
wallpapers:/usr/share/backgrounds/Butterfly.jpg
wallpapers:/usr/share/backgrounds/Cherries.jpg
wallpapers:/usr/share/backgrounds/Climbing.jpg
wallpapers:/usr/share/backgrounds/Cornered.jpg
wallpapers:/usr/share/backgrounds/Crocosmia_by_sirpecangum.jpg
wallpapers:/usr/share/backgrounds/CurlsbyCandy.jpg
wallpapers:/usr/share/backgrounds/Daisy.jpg
wallpapers:/usr/share/backgrounds/Darkening_Clockwork_by_Matt_Katzenberger.jpg
wallpapers:/usr/share/backgrounds/Delicate_Petals_by_lefthandgergo.jpg
wallpapers:/usr/share/backgrounds/Dybbølsbro_Station_by_SirPecanGum.jpg
wallpapers:/usr/share/backgrounds/Early_Blossom_by_Dh0r.jpg
wallpapers:/usr/share/backgrounds/edubuntu-bubbles.jpg
wallpapers:/usr/share/backgrounds/edubuntu-glowing-stripes.jpg
wallpapers:/usr/share/backgrounds/edubuntu-horses.jpg
wallpapers:/usr/share/backgrounds/edubuntu-liquid-blue.jpg
wallpapers:/usr/share/backgrounds/edubuntu-liquid-pink.jpg
wallpapers:/usr/share/backgrounds/edubuntu-meerkat.jpg
wallpapers:/usr/share/backgrounds/edubuntu-northern-lights.jpg
wallpapers:/usr/share/backgrounds/edubuntu-nyc.jpg
wallpapers:/usr/share/backgrounds/edubuntu-periodic-breakout.jpg
wallpapers:/usr/share/backgrounds/edubuntu-radioactive.jpg
wallpapers:/usr/share/backgrounds/Fabric_by_Just_Jeanette.jpg
wallpapers:/usr/share/backgrounds/FallDrops,AncientLight.jpg
wallpapers:/usr/share/backgrounds/Feather_by_quinn.anya.jpg
wallpapers:/usr/share/backgrounds/Fern_by_aalex04.jpg
wallpapers:/usr/share/backgrounds/Flocking_by_noombox.jpg
wallpapers:/usr/share/backgrounds/Floorboards_by_Dawid_Huczyński.jpg
wallpapers:/usr/share/backgrounds/FlordeLoto.jpg
wallpapers:/usr/share/backgrounds/Fluffodome.jpg
wallpapers:/usr/share/backgrounds/Frog.jpg
wallpapers:/usr/share/backgrounds/Golden_Bloom_by_Twinmama.jpg
wallpapers:/usr/share/backgrounds/GrassinA.jpg
wallpapers:/usr/share/backgrounds/Green_by_Alan_Mattila.jpg
wallpapers:/usr/share/backgrounds/Grey_day_by_Drew__.jpg
wallpapers:/usr/share/backgrounds/gutsy-elephant-skin.jpg
wallpapers:/usr/share/backgrounds/Holes_by_FireCobold.jpg
wallpapers:/usr/share/backgrounds/Icystones2.jpg
wallpapers:/usr/share/backgrounds/Illa-Background.jpg
wallpapers:/usr/share/backgrounds/Illa-Dusk-1600x1200.jpg
wallpapers:/usr/share/backgrounds/Illa-Dusk-1920x1280.jpg
wallpapers:/usr/share/backgrounds/Ilunabarra_Azkainetik_by_Garuna_bor-bor.jpg
wallpapers:/usr/share/backgrounds/InthedarkRedux.jpg
wallpapers:/usr/share/backgrounds/JardinPolar_by_CarmenGloria_Gonzalez.jpg
wallpapers:/usr/share/backgrounds/Langelinie_Allé_by_SirPecanGum.jpg
wallpapers:/usr/share/backgrounds/La_no_alto_by_Allyson_Souza.jpg
wallpapers:/usr/share/backgrounds/Life_by_Paco_Espinoza.jpg
wallpapers:/usr/share/backgrounds/Liquid_glass_by_matthileo.jpg
wallpapers:/usr/share/backgrounds/London_Eye_From_Beneath_by_Fernando_García.jpg
wallpapers:/usr/share/backgrounds/Maraetaibeforesunrise.jpg
wallpapers:/usr/share/backgrounds/Mirada_Perduda_by_Marxicoli.jpg
wallpapers:/usr/share/backgrounds/MistyMorning.jpg
wallpapers:/usr/share/backgrounds/Momiji_Dream_by_Deacon_MacMillan.jpg
wallpapers:/usr/share/backgrounds/Morning_Dew_by_Lars_Clausen.jpg
wallpapers:/usr/share/backgrounds/Morning_II_by_Tadas_N.jpg
wallpapers:/usr/share/backgrounds/Mount_Snowdon,_Wales_by_Adam_Vellender.jpg
wallpapers:/usr/share/backgrounds/Murales_by_Jan_Bencini.jpg
wallpapers:/usr/share/backgrounds/Naranja.jpg
wallpapers:/usr/share/backgrounds/Not_Alone_by_Deacon_MacMillan.jpg
wallpapers:/usr/share/backgrounds/OLife.jpg
wallpapers:/usr/share/backgrounds/Outoffocus.jpg
wallpapers:/usr/share/backgrounds/Palmengarten.jpg
wallpapers:/usr/share/backgrounds/Pointy.jpg
wallpapers:/usr/share/backgrounds/Power_of_Words_by_Antonio_Litterio.jpg
wallpapers:/usr/share/backgrounds/Precise_Pangolin_by_Vlad_Gerasimov.jpg
wallpapers:/usr/share/backgrounds/Primer_Amanecer_2010_by_letoloke.jpg
wallpapers:/usr/share/backgrounds/PrimulaRed.jpg
wallpapers:/usr/share/backgrounds/PurpleDancers_by_Emilio_Merlino.jpg
wallpapers:/usr/share/backgrounds/Qimo-and-Illa-Daylight-1600x1200.jpg
wallpapers:/usr/share/backgrounds/Qimo-and-Illa-Daylight-1920x1280.jpg
wallpapers:/usr/share/backgrounds/Qimo-Daylight-1600x1200.jpg
wallpapers:/usr/share/backgrounds/Qimo-Daylight-1920x1280.jpg
wallpapers:/usr/share/backgrounds/Quandro_by_Tomas_Vasconcelo.jpg
wallpapers:/usr/share/backgrounds/RadioactiveSunrise.jpg
wallpapers:/usr/share/backgrounds/Ropey_Photo_by_Bob_Farrell.jpg
wallpapers:/usr/share/backgrounds/Sand.jpg
wallpapers:/usr/share/backgrounds/Serenity_Enchanted_by_sirpecangum.jpg
wallpapers:/usr/share/backgrounds/Shoes.jpg
wallpapers:/usr/share/backgrounds/Signpost_by_maroubal2.jpg
wallpapers:/usr/share/backgrounds/Small_flowers_by_Dariusz_Duma.jpg
wallpapers:/usr/share/backgrounds/Smile_by_quinn.anya.jpg
wallpapers:/usr/share/backgrounds/SmoothMoment.jpg
wallpapers:/usr/share/backgrounds/space-01.jpg
wallpapers:/usr/share/backgrounds/space-02.jpg
wallpapers:/usr/share/backgrounds/space-03.jpg
wallpapers:/usr/share/backgrounds/space-04.jpg
wallpapers:/usr/share/backgrounds/space-05.jpg
wallpapers:/usr/share/backgrounds/Speaker_Weave_by_Phil_Jackson.jpg
wallpapers:/usr/share/backgrounds/Spiral_by_firas.jpg
wallpapers:/usr/share/backgrounds/Stalking_Ocelot_by_Sayantan_Chaudhuri.jpg
wallpapers:/usr/share/backgrounds/Sunset.jpg
wallpapers:/usr/share/backgrounds/The_Forbidden_City_by_Daniel_Mathis.jpg
wallpapers:/usr/share/backgrounds/The_Grass_aint_Greener_by_fix_pena.jpg
wallpapers:/usr/share/backgrounds/TheRainbowisDead.jpg
wallpapers:/usr/share/backgrounds/ThrowingStones.jpg
wallpapers:/usr/share/backgrounds/Tie_My_Boat_by_Ray_García.jpg
wallpapers:/usr/share/backgrounds/Tiny_Worlds_by_matthileo.jpg
wallpapers:/usr/share/backgrounds/Touch_the_light_by_Matt_Katzenberger.jpg
wallpapers:/usr/share/backgrounds/Tri_Narwhal_by_momez.jpg
wallpapers:/usr/share/backgrounds/Twilight_Frost_by_Phil_Jackson.jpg
wallpapers:/usr/share/backgrounds/Ubuntu-DawnOfUbuntu_1600x1200.jpg
wallpapers:/usr/share/backgrounds/Ubuntu-Peace_1600x1200.jpg
wallpapers:/usr/share/backgrounds/Variations-On-Natty-Narwhal-1_by_madeinkobaia.jpg
wallpapers:/usr/share/backgrounds/Warmlights.jpg
wallpapers:/usr/share/backgrounds/Waterchain_by_Poje_Mario.jpg
wallpapers:/usr/share/backgrounds/White_flowers_by_Garuna_bor-bor.jpg
wallpapers:/usr/share/backgrounds/WhiteOrchid.jpg
wallpapers:/usr/share/backgrounds/WildWheat_by_Brian_Burt.jpg
wallpapers:/usr/share/backgrounds/Winter_Morning_by_Shannon_Lucas.jpg
wallpapers:/usr/share/backgrounds/Yellowflower.jpg
wallpapers:/usr/share/backgrounds/edgy-final-ubuntu.png
wallpapers:/usr/share/backgrounds/edubuntu_default.png
wallpapers:/usr/share/backgrounds/edubuntu_lonelytree.png
wallpapers:/usr/share/backgrounds/edubuntu_perspective.png
wallpapers:/usr/share/backgrounds/edubuntu-stargazer.png
wallpapers:/usr/share/backgrounds/edubuntu_whereami.png
wallpapers:/usr/share/backgrounds/edubuntu_wire.png
wallpapers:/usr/share/backgrounds/feisty-final-ubuntu.png
wallpapers:/usr/share/backgrounds/gutsy-final-ubuntu.png
wallpapers:/usr/share/backgrounds/Qimo-Background.png
wallpapers:/usr/share/backgrounds/Ubuntu-Blubuntu_1600x1200.png
wallpapers:/usr/share/backgrounds/ubuntu-edgy-smooth-chocolate.png
wallpapers:/usr/share/backgrounds/ubuntu-smooth-chocolate.png
wallpapers:/usr/share/backgrounds/Ubuntu-Tropic_1920x1200.png
wallpapers:/usr/share/backgrounds/warty-final-ubuntu.png
wallpapers:/usr/share/xfce4/backdrops/ubuntustudio-brushes.jpg
wallpapers:/usr/share/xfce4/backdrops/ubuntustudio-lense.jpg
wallpapers:/usr/share/xfce4/backdrops/ubuntustudio-mixer.jpg
wallpapers:/usr/share/xfce4/backdrops/ubuntustudio-olis.jpg
wallpapers:/usr/share/xfce4/backdrops/albatross-2009-10.png
wallpapers:/usr/share/xfce4/backdrops/bluebird-2010-08-1920x1200-xubuntu.png
wallpapers:/usr/share/xfce4/backdrops/bluebird-2010-08-1920x1440-notext.png
wallpapers:/usr/share/xfce4/backdrops/bluebird-2010-08-1920x1440-xubuntu.png
wallpapers:/usr/share/xfce4/backdrops/greybird-wall-1920x1200.png
wallpapers:/usr/share/xfce4/backdrops/macinnis_wallpaper.png
wallpapers:/usr/share/xfce4/backdrops/ubuntustudio-ayo.png
wallpapers:/usr/share/xfce4/backdrops/ubuntustudio-gutsy.png
wallpapers:/usr/share/xfce4/backdrops/xfce-stripes.png
wallpapers:/usr/share/xfce4/backdrops/xubuntu-bluebird-notext.png
wallpapers:/usr/share/xfce4/backdrops/xubuntu-bluebird.png
wallpapers:/usr/share/xfce4/backdrops/xubuntu-greybird.png
wallpapers:/usr/share/xfce4/backdrops/xubuntu-karmic-gdm.png
wallpapers:/usr/share/xfce4/backdrops/xubuntu-karmic.png
wallpapers:/usr/share/xfce4/backdrops/xubuntu-precise-left.png
wallpapers:/usr/share/xfce4/backdrops/xubuntu-precise-right.png
